/* --------------NavBar JS-------------- */
.text-white.accueil{
    text-decoration: none;
    font-weight: bold;
}
.nav-link.active{
    color: white;
    text-decoration: none;
}
#socialink a {
    justify-content: center;
    text-align: center;
    font-size: 18px;
    border-radius: 50%;
    background: #1C1C1C;
    height: 43px;
    width: 45px;
}
a{
    text-decoration: none;
    color: #ffffff;
}
.container.accueil{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-right: 200px;
    padding-bottom: 500px;
}
span{
    font-weight: bold;
    color: #ffe8ce;
}
/* --------------NavBar-------------- */

/* experience */
#experience:focus{
    color: #474747 !important;
}
#experience:hover{
    color: #474747 !important;
}
/* formation */
#formation:focus{
    color: #8f6757 !important;
}
#formation:hover{
    color: #8f6757 !important;
}
/* competence */
#competence:focus{
    color: #edae19 !important;
}
#competence:hover{
    color: #edae19 !important;
}
/* loisir */
#loisir:focus{
    color: #0d5b6b !important;
}
#loisir:hover{
    color: #0d5b6b !important;
}
/* contact */
#contact:focus{
    color: #474747 !important;
}
#contact:hover{
    color: #474747 !important;
}
/* --------------Body-------------- */
.bg-custom{
    background-color: #1C1C1C;
    opacity: 95%;
}
.bg-gradiant.experiences{
    background-image: linear-gradient(to left, #1C1C1C, #474747);
    opacity: 95%;
}
.bg-gradiant.formations{
    background-image: linear-gradient(to right, #1C1C1C, #8f6757);
    opacity: 95%;
}
.bg-gradiant.competences{
    background-image: linear-gradient(to left, #1C1C1C, #edae19);
    opacity: 95%;
}
.bg-gradiant.loisirs{
    background-image: linear-gradient(to right, #1C1C1C, #0d5b6b);
    opacity: 95%;
}
.col-6.image{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed, scroll;
}
.parallax-effect{
    background-image: url(../img/feuille.jpg);
    min-height: 200px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 300px;
    padding-bottom: 0;
}
/* --------------Profil-------------- */
.img-fluid.alexandrelvq{
    border-radius: 50%;
    padding: 8%;
}
.parallax-effect.profil{
    background-image: url(../img/BG.jpg);
    min-height: 300px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 90px;
}
.row.profil{
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-4.nom{
    text-align: end;
}
h1{
    font-size: 60px;
    font-weight: bold;
}
.description{
    background-color: #1C1C1C;
    opacity: 70%;
}
/* --------------Experiences-------------- */
.img-fluid.experiences{
    border-radius: 20%;
    width: 350px;
    height: 350px;
}
.col-12.col-md-3{
    padding: 40px 20px;
}
.col-12.py-4.col-md-6.image{
    display: flex;
    justify-content: center;
    align-items: center ;
}
.col-6{
    padding: 5%;
}
.parallax-effect.experiences{
    background-image: url(../img/feuille.jpg);
    min-height: 300px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 600px;
}
h2.experiences:after {
    content: "";
    width: 100px;
    height: 1px;
    display: inline-block;
    background: #474747;
    margin-bottom: 4px;
    margin-left: 10px;
}
h3.fs-5{
    color: #ffe8ce;
    font-weight: bold;
}
.col-3.expe{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
}
.col-3.pe-0.pb-4{
    padding-left: 50px;
}
#expe{
    padding-left: 50px;
}
/* --------------Formations-------------- */
.img-fluid.formations{
    border-radius: 20%;
    width: 350px;
    height: 350px;
}
.col-md-6.image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-md-3{
    padding: 40px 30px;
}
.col-6{
    padding: 5%;
}
.parallax-effect.formations{
    background-image: url(../img/livre.jpg);
    min-height: 300px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 600px;
}
h2.formations:after {
    content: "";
    width: 100px;
    height: 1px;
    display: inline-block;
    background: #8f6757;
    margin-bottom: 4px;
    margin-left: 10px;
}
.col-3.forma{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    padding-bottom: 70px;
}
/* --------------Compétences-------------- */
.img-fluid.competences{
    border-radius: 20%;
    width: 350px;
    height: 350px;
}
.col-6{
    padding: 5%;
}
#progressbar{
    padding: 30px 30px;
}
.parallax-effect.competences{
    background-image: url(../img/pierre.jpg);
    min-height: 300px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 600px;
}
h2.competences:after {
    content: "";
    width: 100px;
    height: 1px;
    display: inline-block;
    background: #edae19;
    margin-bottom: 4px;
    margin-left: 10px;
}
/* Barre */
.progress-bar.progress-bar-success{
    background-color: #edae19;
}
.langues{
    padding-top: 40px;
}
/* --------------Loisirs-------------- */
.img-fluid.loisirs{
    border-radius: 20%;
    width: 350px;
    height: 350px;
}
.col-6{
    padding: 5%;
}
.parallax-effect.loisirs{
    background-image: url(../img/sport.jpg);
    min-height: 300px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 600px;
}
h2.loisirs:after {
    content: "";
    width: 100px;
    height: 1px;
    display: inline-block;
    background: #0d5b6b;
    margin-bottom: 4px;
    margin-left: 10px;
}
.rectangle.jeu{
    height: 100px;
    width: 250px;
    background-image: url(../img/Jeuxvideos.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 40px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffe8ce;
    border-radius: 10px;
}
.rectangle.equi{
    height: 100px;
    width: 250px;
    background-image: url(../img/equitation.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 40px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffe8ce;
    border-radius: 10px;
}
.rectangle.airsoft{
    height: 100px;
    width: 250px;
    background-image: url(../img/airsoft.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffe8ce;
    border-radius: 10px;
}
.col-12.col-md-6.image{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.container.loisir{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 30px;
}
.row.loisir{
    padding-left: 155px;
    padding-top: 20px;
}
/* --------------Footer-------------- */
.parallax-effect.footer{
    background-image: url(../img/BG.jpg);
    max-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.btn.btn-outline-light{
    display: flex;
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row.contact{
    padding-top: 15px;
    align-items: center;
    justify-content: center;
}
.row.reseaux{
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.reseaux{
    margin: 0;
}
.list-inline-item{
    display: flex;
    justify-content: space-between;
}


/* ---------Modal---------- */
/* .modal-body.background{
    background-image: url(../img/BG.jpg);
    min-height: 300px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */




@media screen and (max-width: 750px){
    /* --------------Experience-------------- */
    .img-fluid.experiences{
        border-radius: 20%;
        width: 350px;
        height: 350px;
        margin-top: 0px;
    }
    /* --------------Compétences-------------- */
    .img-fluid.competences{
        border-radius: 20%;
        width: 350px;
        height: 350px;
        margin-top: 0px;
        margin-left: 0px;
    }
    /* -----------------Loisir------------------------- */
    .rectangle.jeu{
        height: 100px;
        width: 150px;
        background-image: url(../img/Jeuxvideos.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 10px;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #ffe8ce;
        border-radius: 10px;
    }
    .rectangle.equi{
        height: 100px;
        width: 150px;
        background-image: url(../img/equitation.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: 10px;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffe8ce;
        border-radius: 10px;
    }
    .rectangle.airsoft{
        height: 100px;
        width: 150px;
        margin-bottom: 10px;
        background-image: url(../img/airsoft.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffe8ce;
        border-radius: 10px;
    }
    .container.loisir{
        padding: 0;
    }
    .row.loisir{
        padding-left: 120px;
    }
    .h2.loisirs{
        padding-top: 20px;
    }
    .img-fluid.loisirs{
        padding-bottom: 20px;
    }
    /* -------------------Footer--------------------- */
    .list-inline-item{
        display: flex;
        justify-content: center;
    }
    .fab.fa-linkedin{
        padding-right: 20px;
    }
    /* --------------------NavBar JS-------------------- */
    .text-white.accueil{
        text-decoration: none;
        font-weight: bold;
    }
    .nav-link.active{
        color: white;
        text-decoration: none;
    }
    #socialink a {
        justify-content: center;
        text-align: center;
        font-size: 18px;
        border-radius: 50%;
        background: #1C1C1C;
        height: 43px;
        width: 45px;
    }
    a{
        text-decoration: none;
        color: #ffffff;
    }
    .container.accueil{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 500px;
    }
    span{
        font-weight: bold;
        color: #ffe8ce;
    }
    .d-inline-block{
        padding-top: 7px;
    }
    .fab.fa-linkedin{
        padding-left: 14px;
    }
    /* Navbar */
    .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: start;
    }
}